/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}

header {
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    width: 150px; /* Ajuste o tamanho do logotipo conforme necessário */
}

main {
    text-align: center;
    margin-top: 80px; /* Para ajustar a distância do cabeçalho */
}


h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

#p-dados {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    margin-top: 30px;
}

.options {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que as opções se ajustem em dispositivos menores */
}

.option {
    width: 180px;
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove sublinhado dos links */
    color: inherit; /* Mantém a cor do texto original */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.option:hover {
    background-color: #e0e0e0;
}

.option img {
    width: 60px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-bottom: 10px;
}

.option p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
    .options {
        flex-direction: column;
        gap: 15px;
    }

    .option {
        width: 100%;
        max-width: 300px;
    }

    main {
        margin-top: 100px; /* Remove qualquer margem superior */
    }
}

/* Option utilizado em botões de meses */
.option_meses {
    width: 180px;
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove sublinhado dos links */
    color: inherit; /* Mantém a cor do texto original */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    line-height: 0.5; /* Ajusta o espaço necessário entre linhas */
}